:root {
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --black: #000;
    --white: #fff;
    --claret: #8b1e3f;
    --pale-green: #98fb98;
    --pale-green-70: rgba(152, 251, 152, 0.7);
    --yellow: rgb(250, 250, 51);
    --yellow-70: rgba(250, 250, 51, 0.7);
    --midnight-blue: rgb(29, 17, 96);
    --midnight-blue-70: rgba(29, 17, 96, 0.7);

    --border-radius: 0.5em;
}

::selection {
    background-color: var(--pale-green-70);
}

.is-dark-mode ::selection {
    background-color: var(--midnight-blue-70);
}

/*
@keyframes FadeIn {
    from {
      background: #e3ffe7;
      background: linear-gradient(18deg, #e3ffe7 0%, #d9e7ff 100%);
      background-size: 400% 400%;
      background: linear-gradient(18deg, blue 0%, yellow 100%);
      background-position: 0% 50%;


      background: pink;
    }


    to {
      background: linear-gradient(18deg, #e3ffe7 0%, #d9e7ff 100%);
      background-size: 100% 100%;
      background: linear-gradient(18deg, blue 0%, yellow 100%);
      background-position: 50% 0%;

      background: yellow;
    }
  } */

body {
    margin: 0;
    min-height: 100vh;

    color: var(--black);

    background: linear-gradient(18deg, #e3ffe7 0%, #d9e7ff 100%);
    background-size: 100% 100%;

    /* background: linear-gradient(18deg, blue 0%, yellow 100%); */

    /* background: yellow; */
    /* animation: FadeIn 5s ease-in-out forwards; */
}

body.is-dark-mode {
    color: var(--white);
    background: linear-gradient(18deg, #4b6cb7 0%, #182848 100%);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}

@keyframes FadeIn {
    from {
        background-color: var(--white);
    }

    to {
        background-color: transparent;
    }
}

main {
    padding: 1em 2em 3em;
    margin-bottom: 1.5em;
    text-align: center;

    border-radius: var(--border-radius);

    background-color: transparent;
    animation: FadeIn 0.5s ease-in-out forwards;
}

a {
    color: var(--black);
    text-decoration: underline wavy;
}

.is-dark-mode a {
    color: var(--white);
}

a:hover,
a:focus {
    color: var(--claret);
    text-decoration: underline;
}

.is-dark-mode a:hover,
.is-dark-mode a:focus {
    color: var(--pale-green);
}

.dark-mode-toggle {
    position: absolute;
    font-size: 0.8em;

    /* Hidden checkbox is 20px */
    left: calc(1em - 20px);
    top: 1em;
}

.dark-mode-toggle input[type='checkbox'] {
    opacity: 0;
}

.icon-sun,
.icon-moon {
    width: calc(0.8em + 2.5vw);
    height: calc(0.8em + 2.5vw);
}

.dark-mode-toggle:focus-within .icon-sun,
.icon-sun:hover {
    /* sun yellow */
    border: 3px dotted #f9ebb2;
}

.dark-mode-toggle:focus-within .icon-moon,
.icon-moon:hover {
    border: 3px dotted var(--midnight-blue);
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

h1 {
    font-size: 3em;

    line-height: 1.1;
    font-weight: 500;

    font-family: 'Playfair Display', serif;
}

h1 a {
    text-decoration: none;
    border-radius: var(--border-radius);
}

h1 a:hover,
h1 a:focus {
    text-decoration: none;
    border-bottom: 15px solid currentColor;
    transition: border 200ms ease-in-out;
}

form {
    font-size: 1.5em;
}

.wrapper {
    max-width: 26em;
    margin: auto;
}

footer {
    margin: auto 0 0;

    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    font-size: 0.8em;
}

.glass {
    backdrop-filter: blur(0.4rem);
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px var(--white);
}

.is-dark-mode .glass {
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(255, 255, 255, 0.4);
}

.extra-bold {
    font-weight: 700;
}

.hidden {
    display: none;
}
