h1 a:hover {
    text-decoration: none;
    border-bottom: 15px solid currentColor;

    transition: border 200ms ease-in-out;
}



a {
    color: var(--black);
    text-decoration: underline wavy;

    background-color: transparent;

    /* happy accident */
    border-radius: var(--border-radius);
}
