:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --black: #000;
    --claret: #8b1e3f;
    --dark-purple: #3c153b;
    --cambridge-blue: #89bd9e;
    --sunset: #f0c987;
    --vermillion: #db4c40;

    --border-radius: 0.5em;
}

html {
    background-color: var(--cambridge-blue);
    color: var(--black);

    background-color: #89bd9e;
    opacity: 1;
    background-image: linear-gradient(#f0c987 8px, transparent 8px),
        linear-gradient(90deg, #f0c987 8px, transparent 8px), linear-gradient(#f0c987 4px, transparent 4px),
        linear-gradient(90deg, #f0c987 4px, #89bd9e 4px);
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -8px -8px, -8px -8px, -4px -4px, -4px -4px;
}

::selection {
    background-color: var(--claret);
    color: var(--sunset);
}

body {
    margin: 0;
    min-height: 100vh;
}

#root {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--sunset);
    padding: 1em 2em 4em;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    text-align: center;
    margin-bottom: 20vh;
}

/* @TODO move to a better spot */
.definition {
    border-radius: var(--border-radius);
    border: 5px solid var(--dark-purple);

    padding: 4em;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
