:root {
    font-family: 'EB Garamond', serif;

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* @TODO rework palette */
    --black: #000;
    --claret: #8b1e3f;
    --dark-purple: #3c153b;
    --cambridge-blue: #89bd9e;
    --sunset: #f0c987;
    --vermillion: #db4c40;

    --border-radius: 0.5em;
}

html {
    background-color: var(--cambridge-blue);
    color: var(--black);

    background-color: white;
    opacity: 1;
    background-image: linear-gradient(#f0c987 8px, transparent 8px),
        linear-gradient(90deg, #f0c987 8px, transparent 8px), linear-gradient(#f0c987 4px, transparent 4px),
        linear-gradient(90deg, #f0c987 4px, #89bd9e 4px);
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -8px -8px, -8px -8px, -4px -4px, -4px -4px;

    background: url('https://source.unsplash.com/WmnsGyaFnCQ');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
}

::selection {
    background-color: yellow;
}

body {
    margin: 0;
    min-height: 100vh;
}

#root {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 1em 2em 4em;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    text-align: center;
    margin-bottom: 20vh;
}

form {
    font-size: 1.5em;
}

.glass {
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(0.4rem);

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -1px -1px 1px white;
}

.word {
    font-weight: 700;
    font-size: 2em;
}

/* @TODO move to a better spot */
.definition {
    padding-top: 4em;

    max-width: 30em;
    margin: auto;
    text-align: left;
}

h1 {
    font-size: 3.3em;

    line-height: 1.1;
    font-weight: 500;

    font-family: 'Playfair Display', serif;
}

h1 a {
    text-decoration: none;
    color: black;
}

/* Animation from https://loading.io/css/ */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
